.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
*/
.hide-scrollbar {
  /* Chrome, Safari, Opera */
  ::-webkit-scrollbar {
    display: none;
  }
}


.aisle-container > div:last-child {
  margin-right: 4vw;
}



/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 7px; /* Adjust the width of the scrollbar */
  height: 7px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1; /* The track (progress background) */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* The scroll handle */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll-arrow {
  position: fixed;
  top: 20px; /* Adjust the positioning as needed */
  width: 50px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  opacity: 0.3;
  transition: 0.5s;
}


.clicked:active{
transform: scale(0.98);
}

.btn:hover {
  opacity: 1;
  transform: scale(1.2);
}

.scroll-arrow-left {
  left: 250px;
  top: 50vh
}

.scroll-arrow-right {
  right: 20px;
  top: 50vh
}

