.App {
  text-align: center;
  font-family: 'Segoe UI';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.aisle-container > div:last-child {
  margin-right: 4vw;
}

body {
  background: #EDEDED;
  margin-left: -10vw;
  transition: margin-left 0.5s ease-in-out; /* Add a transition for a smoother effect */
  
}

.body-margin-35 {
  margin-left: 3vw;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 5px; /* Adjust the width of the scrollbar */
  height: 7px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1; /* The track (progress background) */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* The scroll handle */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll-arrow {
  position: fixed;
  top: 20px; /* Adjust the positioning as needed */
  width: 50px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  opacity: 0.3;
  transition: 0.5s
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hide-scrollbar {
  /* Chrome, Safari, Opera */
  ::-webkit-scrollbar {
    display: none;
  }
}

.wishlist-icon{
width:80px;
height:50px;
/*background-color: transparent;*/
fill: none;
stroke:black;
stroke-width: 3px
}

.search-delete-icon{
  width:45px;
  height:30px;
  stroke:black;
  stroke-width: 0.5px
}

.search-delete-btn-clicked:active{
  transform: scale(0.95);
  stroke: red;
  }

.wishlist-btn-clicked:active{
transform: scale(0.95);
fill: red;
}

.wishlist-btn{
  fill: rgba(210,210,255);
  }

.modal-button-clicked:active{
  transform: scale(0.95);
}


.btn:hover {
  opacity: 1;
  transform: scale(1.2);
}

.scroll-arrow-left {
  left: 25px;
  top: 50vh
}

.scroll-arrow-right {
  right: 20px;
  top: 50vh
}

